{
  "presets": ["env"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-runtime",
    "transform-async-to-generator"
  ]

  // "transform-object-rest-spread" for object spread
  // "transform-runtime", for async await
  // "transform-async-to-generator" for async await
}
