; For local development using local db
LOCAL_DB_USERNAME=yourdbusername
LOCAL_DB_PASSWORD=yourdbpassword
LOCAL_DB_DATABASE=yourdb
LOCAL_DB_HOST=yourdbhost
LOCAL_SECRET=supersecret
LOCAL_JWT_ENCRYPTION=jwt_please_change
LOCAL_JWT_EXPIRATION=2592000000


; For local development using cloud db
DEV_DB_USERNAME=yourdbusername
DEV_DB_PASSWORD=yourdbpassword
DEV_DB_DATABASE=yourdb
DEV_DB_HOST=yourdbhost
DEV_DB_SECRET=supersecret
DEV_JWT_ENCRYPTION=jwt_please_change
DEV_JWT_EXPIRATION=2592000000

; For use on Heroku or other hosting providers
PROD_DB_USERNAME=yourdbusername
PROD_DB_PASSWORD=yourdbpassword
PROD_DB_DATABASE=yourdb
PROD_DB_HOST=yourdbhost
PROD_DB_SECRET=supersecret
PROD_JWT_ENCRYPTION=jwt_please_change
PROD_JWT_EXPIRATION=2592000000