{
  "overrides": [{
    "files": "*.js",
    "options": {
      "semi": true,
      "bracketSpacing": true,
      "parser": "babylon",
      "printWidth": 120,
      "excludeFiles": ["*.scss"],
      "tabWidth": 2,
      "singleQuote": true
    }
  }]
}